body {
    font-family: 'Creepster', cursive;
    background-color: #e67e22; 
    color: #fff;
    margin: 0;
    background-image: url('../images/halloween-background-vector-43260149.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
}

.container {
    max-width: 450px; 
    margin: 50px auto; 
    padding: 20px;
    background-color: #d35400; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000; 
}

form input {
    width: calc(100% - 24px); 
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #c0392b; 
    border-radius: 5px;
    background-color: #e67e22; 
    color: #fff; 
}

button {
    background-color: #c0392b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #a93226; 
}

#message {
    color: #c0392b; 
    font-weight: bold;
}

.register {
    margin-top: 20px;
    color: #000; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a93226; 
    color: #fff;
    padding: 15px;
    border-radius: 10px;
}



.welcome-logout {
    display: flex;
    align-items: center;
}

.welcome {
    font-size: 20px;
    margin-right: 10px; /* Add a margin to separate it from the button */
}

.logout-button {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 1710px;
}

.logout-button:hover {
    background-color: #777;
}
